<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<script src="../bower_components/page/page.js"></script>
<script>
  window.addEventListener('WebComponentsReady', function() {

    // We use Page.js for routing. This is a Micro
    // client-side router inspired by the Express router
    // More info: https://visionmedia.github.io/page.js/

    // Removes end / from app.baseUrl which page.base requires for production
    if (window.location.port === '') {  // if production
      page.base(app.baseUrl.replace(/\/$/, ''));
    }

    // Middleware
    function scrollToTop(ctx, next) {
      app.scrollPageToTop();
      next();
    }

    function closeDrawer(ctx, next) {
      app.closeDrawer();
      next();
    }

    function setFocus(selected){
      // if you get an error here it's probably because you're missing a .page-title from the target section
      var pt=document.querySelector('section[data-route="' + selected + '"] .page-title');
      if (pt) pt.focus();
    }

    // Routes
    page('*', scrollToTop, closeDrawer, function(ctx, next) {
      next();
    });

    page('/', function() {
      app.route = 'home';
      setFocus(app.route);
    });

    page(app.baseUrl, function() {
      app.route = 'home';
      setFocus(app.route);
    });

    page('/hexagrams', function() {
      app.route = 'hexagrams';
      setFocus(app.route);
    });

    page('/hexagram/:id', function(data) {
      app.route = 'hexagram-detail';
      app.params = data.params;
      
      // load hexagram data for route.
      app.hexagram = app.hexagrams[data.params.id] ;
      setFocus(app.route);
    });

    page('/readings', function() {
      app.route = 'readings';
      setFocus(app.route);
    });

    page('/reading/:id', function(data) {
      app.route = 'reading-detail';
      app.params = data.params;
      
      app.readingId = data.params.id;
      var doc = document.querySelector("iching-db");
      doc.updateReadingPath(); // takes data from app.readingId and user combined.
      
      setFocus(app.route);
    });

    page('/contact', function() {
      app.route = 'contact';
      setFocus(app.route);
    });

    // 404
    page('*', function() {
      app.$.toast.text = 'Can\'t find: ' + window.location.href  + '. Redirected you to Home Page';
      app.$.toast.show();
      page.redirect(app.baseUrl);
    });

    // add #! before urls
    page({
      hashbang: true
    });

  });
</script>
