<!--
      UI Interface for creating a hexagram reading.
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">

<dom-module id="iching-build-hex">
  <template>
    <style>
      :host {
        display: block;
      }

      .container { 
        height: 200px; 
        display: flex; 
        flex-direction: column-reverse;
        margin: 0 auto;
      }

      .lines-container { margin:0 auto; }

      .changing-hex { margin-left: 36px; }

      .line { width:150px; border-top-width: 16px; padding: 8px; margin: 0 auto; display: inline-flex;}
      
      .divider { display: inline-flex; padding-left: 20px; }

      .yin { border-top-style: dashed; }
      .yang { border-top-style: solid; }
      .changing { border-top-color: red; }

    </style>
    <h2>{{heading}}</h2>  

    <h3>{{question}}</h3>

    <li>{{hexagram.id}}: {{hexagram.character}}  -  {{hexagram.name}}</li>
    <li>{{changing.id}}: {{changing.character}}  -  {{changing.name}}</li>

    <div class="container">
      <template is="dom-repeat" items="{{lines}}">
        <div class="lines-container">
          <div class$="line [[item.css]]" z$='3'></div>

          <div class="divider" hidden="{{hideChangingHex}}"></div>

          <div class$="changing-hex line [[item.changingCss]]" hidden="{{hideChangingHex}}"></div>    
        </div>
      </template>
    </div>
    <paper-fab id="addBtn" icon="add" on-tap="_addBtnClick"></paper-fab>
    <paper-icon-button id="resetBtn" icon="refresh" on-tap="_resetBtnClick"></paper-icon-button>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'iching-build-hex',

      properties: {
        lines: {  // array of text for css attributes
          type: Array,
          value: [],
          notify: true
        },

        reading: {  // binary array for computation
          type: Array,
          value: [],
          notify: true
        },

        heading: {
          type: String,
          value: "Click to generate a line",
          notify: true
        },

        hideChangingHex: {
          type: Boolean,
          value: true,
          notify: true
        },

        readingData: {
          type: Object,
          notify: true
        },

        readingId: { 
          type: Object,
          notify: true
        }
      },

      changing: function() {
        console.log('!');
      },

      _resetBtnClick: function() {
        this.lines = [];
        this.$.addBtn.hidden = false;
      },

      _addBtnClick: function() {
        // init lines if not ready
        if (!this.lines) { this.lines=[] ; }

        // create line returns array of two binary values
        var line = app.yi.createLine('Marbles');
        this.push("reading", line);

        // changing line stop hiding changing hex!
        if( line[1] ) { this.hideChangingHex = false; }

        // this should be in the iChing API @ cssFormat( line )
        // as should a converting to coins function ie. 667899
        var css = line[0] ? "yang" : "yin";
        css += line[1] ? " changing" : ""

        // calculate changing line css
        var changedLine = line[1] ? !line[0] : line[0];
        var changingCss = changedLine ? 'yang' : "yin";
        changingCss += line[1] ? " changing" : ""

        // this.hidden = line[1];

        // push to UI synced lines array
        this.push("lines", { css, changingCss } );

        if( this.lines.length==6 ) {
          this.heading = "Click to view reading.";
          this.$.addBtn.hidden = true;

          // look up the reading
          var reading = app.yi.iChing.lookUpReading(this.reading);

          this.hexagram = reading[0];
          this.changing = reading[1];
          
          console.log( reading );

          // save to database

          this.readingData = {  question: this.question,
                                reading: this.reading, 
                                hexagram: this.hexagram.id, 
                                changing: this.changing.id,
                                created: firebase.database.ServerValue.TIMESTAMP
                              };

          var doc = document.querySelector("iching-db");
          console.log ( doc.saveReadingData('/users/' + app.user.uid + '/readings') );

          // filter readings that have either of the same hexagrams
          // I think best way to approach this is by wrapping the createHex and the related readings panel together. or another way entirely..... 

          // navigate to reading url
          // not sure how to do that with this router will come back to this later
        }
      }  

    });
  })();
  </script>
</dom-module>
