<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymerfire/polymerfire.html">
<link rel="import" href="../../bower_components/app-storage/app-indexeddb-mirror/app-indexeddb-mirror.html">

<script src="../../bower_components/moment/moment.js"></script>


<dom-module id="iching-db">
    <template>

      <!-- Initialize Firebase -->

      <firebase-app  auth-domain="iching-journal.firebaseapp.com"
                     database-url="https://iching-journal.firebaseio.com"
                     api-key="AIzaSyDImetamw_-ZjLp-Qty4_kd4go6VuWT0PU"
                     storageBucket="iching-journal.appspot.com">
      </firebase-app>

      <!-- Fancy DBB mirror index thingy.... come back to this later! -->
       <app-indexeddb-mirror
           session="[[user.uid]]"
           key="readings"
           data="{{_usersReadings}}"
           persisted-data="{{usersReadings}}">
       </app-indexeddb-mirror>

       <!-- Authorize and bind variables: {{user}}, {{signedIn}} -->

      <firebase-auth id="auth" 
                     user="{{user}}" 
                     provider="google" 
                     on-error="handleError" 
                     signed-in="{{signedIn}}">
      </firebase-auth>

      <!-- query all the {{usersReadings}} -->

      <firebase-query
        id="readingsQuery"
        path="/users/[[user.uid]]/readings"
        data="{{_usersReadings}}">
      </firebase-query>

      <firebase-query
        id="commentsQuery"
        path="[[commentsPath]]"
        data="{{comments}}">
      </firebase-query>

      <firebase-document  id="readingDocument"
                          path="[[readingPath]]"
                          data="{{readingData}}">
      </firebase-document>

      <firebase-document  id="commentsDocument"
                          data="{{comment}}">
      </firebase-document>     

    </template>
  

  <script src="iChing.js"></script>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'iching-db',

      properties: {
        hexagrams: {
          type: Array,
          notify: true          
        },

        user: {
          type: Object,
          notify: true
        },

        usersReadings: {
          type: Array,
          notify: true,
          observer: 'dataChanged'
        },

        signedIn: {
         type: Boolean,
         value: false,
         notify: true
        },

        data: {
         type: Object,
         notify: true
        },

        _usersReadings: {
         type: Object,
         notify: true
         },

         readingData: {
          type: Object,
          notify: true
         },

         readingId: {
          type: String,
          notify: true
         },

         readingPath: {
          type: String,
          notify: true
         },

         comments: {
          type: Object,
          notify: true
         },

         comment: {
          type: Object,
          notify: true
         },

         commentsPath: {
          type: String,
          notify: true
         }
      },
         

      observers: ["updateUsersReadings(usersReadings.*)"],
      
      updateReadingPath: function () {
        console.log( app.readingId );

        if (this.user) 
          if (app.readingId) {
            this.readingPath =  '/users/' + this.user.uid + '/readings/' + app.readingId;
            this.commentsPath = '/users/' + this.user.uid + '/readings/' + app.readingId + '/comments';
            console.log( this.commentsPath, this.readingPath);
          }
          else {
            this.readingPath =  '/users/' + this.user.uid + '/readings';
            console.log( this.readingPath);
          }
        
      },

      clearReadingPath: function() {
        this.readingPath = '';
      },

      dataChanged: function (newData, oldData) {
         // console.log( "old", oldData, "new", newData);
      },

      updateUsersReadings: function(z) {
         // console.log( app.usersReadings );
        // 
      },

      attached: function() {
        // initalize iChing Object from js file include
        var yi = new Yi();

        // populate app data with Yi Object
        this.hexagrams = yi.iChing.hexagrams;
        app.yi=yi;
        
        app.hexagrams = this.hexagrams;
      },

      /// sign in shizzle
      signIn: function() {
        this.$.auth.signInWithPopup()
          .then(function(response) { 
            console.log(response);// successful authentication response here
            doc.updateReadingPath(); // 
          })
          .catch(function(error) { 
            console.log(error) // unsuccessful authentication response here
        });
      },

      signOut: function() {
        console.log('signing out')
        this.$.auth().signOut();
      },

      saveReadingData: function( path ) {
        var doc = this.$.readingDocument;

        return doc.save(path).then( () => {
            console.log('then!');
          });
        //Promise.resolve();
        
        console.log('just a log');
      },      

      saveComment: function( comment, path ) {  // passing the data like this is neater implement above!
        var doc = this.$.commentsDocument;

        doc.data = comment;
        return doc.save(path).then( () => {
            console.log('then!');
          });
        //Promise.resolve();
        
        console.log('just a log');
      }

    });

  })();

  </script>
</dom-module>
