<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">

<dom-module id="single-reading">
  <template>
    <style>
      :host {
        display: inline-block;
      }
    </style>
      <a href="reading/[[id]]">
        <paper-item> 
            <paper-item-body two-line>
              <div>[[data.hexagram]] - [[data.changing]]</div>
              <div>[[data.question]]</div>
              <div class="timestamp">[[createdOn]]</div>
            </paper-item-body>
        </paper-item>
      </a>
    </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'single-reading',

      properties: {

        data: {
          type: Object,
          notify: true,
        },

        createdOn: {
          type: String,
          computed: "prettyDate(data)"
        }
      },

      prettyDate: function(data) { return moment(data.created).fromNow(); }
     
    });
  })();
  </script>
</dom-module>
