<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">

<dom-module id="iching-question">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <paper-textarea value="{{data}}" on-keypress="_keyPressed" label="{{label}}"></paper-textarea>

  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'iching-question',

      properties: {
        
        data: {
          type: String,
          notify: true
        }

      },

      _keyPressed: function(e) {
        if ( 13 === e.charCode 
            && this.data != '' ) {
            // bubble event?!
            console.log( this.data );
            console.log("Blimey!");
        }
      }

    }); // end polymer

  })(); // end component
  </script>
</dom-module>
