<!doctype html>
<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Polymer Starter Kit">
  <title>iChing Journal</title>

  <!-- Place favicon.ico in the `app/` directory -->

  <!-- Chrome for Android theme color -->
  <meta name="theme-color" content="#2E3AA1">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Tile color for Win8 -->
  <meta name="msapplication-TileColor" content="#3372DF">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="PSK">
  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Polymer Starter Kit">
  <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

  <!-- Tile icon for Win8 (144x144) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild-->

  <!-- build:js bower_components/webcomponentsjs/webcomponents-lite.min.js -->
  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <!-- endbuild -->

  <!-- Because this project uses vulcanize this should be your only html import
       in this file. All other imports should go in elements.html -->
  <link rel="import" href="elements/elements.html">

  <!-- For shared styles, shared-styles.html import in elements.html -->
  <style is="custom-style" include="shared-styles"></style>
</head>

<body unresolved>
  <!-- build:remove -->
  <span id="browser-sync-binding"></span>
  <!-- endbuild -->


<dom-module id="iching-app"> <!-- added this dom module wrapper which is NOT part of the polymer kit -->
  <template is="dom-bind" id="app">
    <style>
      .user-panel {  width: 100px; }
      .user-panel .photo img {  position: relative; top: 40px; border-radius: 100%; width: 100%; }
      .user-panel .name { position: relative; top: 40px; font-size: 1em; }
    </style>

    <!-- Database -->
    <iching-db 
      id="db"
      signed-in="{{signedIn}}"
      user="{{user}}"
      hexagrams="{{hexagrams}}"
      users-readings="{{usersReadings}}"
      reading-data="{{readingData}}"
      reading-id="{{readingId}}"
      comments={{comments}}
      commentId={commentId}
      comment="{{comment}}"
      >  

    </iching-db>

    <!-- Main View... Drawer + Header -->
    <!-- https://elements.polymer-project.org/elements/paper-drawer-panel -->s
    <paper-drawer-panel id="paperDrawerPanel">
      
      <!-- Drawer Scroll Header Panel -->
      <paper-scroll-header-panel drawer fixed>
        <!-- Drawer Toolbar -->
        <paper-toolbar id="drawerToolbar">
          <span class="menu-name">Menu[[readingPath]]</span>
        </paper-toolbar>

        <!-- Drawer Content -->
        <!-- Navigation links with data-route variables -->
        <paper-menu class="app-menu" attr-for-selected="data-route" selected="[[route]]">
          <a data-route="home" href="{{baseUrl}}">
            <iron-icon icon="home"></iron-icon>
            <span>Home</span>
          </a>

          <a data-route="hexagrams" href="{{baseUrl}}hexagrams">
            <iron-icon icon="info"></iron-icon>
            <span>Hexagrams</span>
          </a>

          <a data-route="readings" href="{{baseUrl}}readings">
            <iron-icon icon="info"></iron-icon>
            <span>Readings</span>
          </a>          

          <a data-route="contact" href="{{baseUrl}}contact">
            <iron-icon icon="mail"></iron-icon>
            <google-signin></google-signin>
            <span>Contact</span>
          </a>
        </paper-menu>
      </paper-scroll-header-panel>

      <!-- Main Content Area -->
      <paper-scroll-header-panel main id="headerPanelMain" condenses keep-condensed-header>
        <!-- Main Toolbar -->
        <paper-toolbar id="mainToolbar" class="tall">
          <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle></paper-icon-button>

          <span class="space"></span>

          <!--  Toolbar icons -->
          <!-- 
                User data is displayed here but this is more 
                intuitively a section for function pertaining to current view 
          -->
        
          <paper-icon-button id="login" icon="refresh" hidden="{{signedIn}}"></paper-icon-button>
          <paper-icon-button id="logout" icon="refresh" hidden="{{!signedIn}}">Text</paper-icon-button>
          <div id="logout" on-tap="logout">Logout</div>

          <div class="user-panel" hidden$="{{!signedIn}}">
            <div class="photo">
              <img src="{{user.photoURL}}">
            </div>

            <div class="name">{{user.displayName}}!</div>
          </div>

          <!-- Application name -->
          <!-- these can both be more page specific information --> 
          <div class="middle middle-container">
            <div class="app-name">iChing Journal</div>
          </div>

          <!-- Application sub title -->
          <div class="bottom bottom-container">
            <div class="bottom-title">The future of the web today</div>
          </div>
        </paper-toolbar>

        <!-- 
              Main Content 
              
              These are the main page views data-routes
              Uses iron-pages
        -->
        <div class="content">
          <iron-pages attr-for-selected="data-route" selected="{{route}}">
            <!-- =============================================================  HOME VIEW -->
            <section data-route="home" tabindex="-1">
              
            <!-- make a welcome messages array later for different user 'experience' -->
              <paper-material elevation="1">
                <h1 class="page-title">Welcome to your iChing Journaling!</h1>

                <p>First, concentrate on your question, or just generally what's on your mind.</p>
                <p>Form an intent to get an answer that relates to your intuitive mind.</p>
                
              </paper-material>

              <paper-material elevation="5">
                <h2>The big question!</h2>
                <p>If there is nothing paricular on your mind you can just ask a general question or a reading that will relate to you at this moment.</p>
                 <paper-material elevation="5">
                   <iching-question  data="{{question}}"
                                    label="Enter your question to the iChing here:">                    
                   </iching-question>
                    
                 </paper-material>
                 <p class="notes">A few more notes about your question</p>
                <p>Now proceed to cast the hexagram.</p>
              </paper-material>

              <paper-material elevation="1">
                <iching-build-hex question="{{question}}"
                                  reading-data="{{readingData}}"
                                  reading-id="{{readingId}}">                    
                </iching-build-hex>
              </paper-material>

              <h3>Your previous readings: (will be with these hexagrams)</h3>
              <template is="dom-repeat" items="[[usersReadings]]" as="reading">
                <single-reading
                    data="[[reading]]"
                    id$="[[reading.$key]]">
                </single-reading>
              </template>

              </section>

            <!-- =============================================================  HEXAGRAMS VIEW -->
            <section data-route="hexagrams" tabindex="-1">
              <iching-navigator hexagrams="[[hexagrams]]"></iching-navigator>
            </section>

            <!-- =============================================================  readings -->
            <section data-route="readings" tabindex="-1">
              <paper-material elevation="1">
                <h1 class="page-title">Your Readings:</h1>
                <template is="dom-repeat" items="[[usersReadings]]" as="reading">
                  <single-reading
                      data="[[reading]]"
                      id$="[[reading.$key]]">
                  </single-reading>
                </template>
              </paper-material>
            </section>

            <!-- =============================================================  reading-detail -->
            <section data-route="reading-detail" tabindex="-1">
              <h1 class="reading-title">!{{readingData.question}}</h1>
              <single-reading data="{{readingData}}" 
                      id$="[[readingId]]">
              </single-reading>
              
              <!-- Show comment box for journaling -->
              <comment-box 
                data="{{newComment}}" 
                comments="{{comments}}"
                reading="[[readingId]]">
              </comment-box>

            </section>

            <!-- =============================================================  hexagram-detail -->
            
            <section data-route="hexagram-detail" tabindex="-1">
            
              <paper-material elevation="-1">
                <h1 class="page-title" tabindex="-1">Hexagram: [[hexagram.id]]</h1>
                <iching-hexagram-detail hexagram="[[hexagram]]"></iching-hexagram-detail>
              </paper-material>
            </section>

            <!-- =============================================================  contact -->
            <section data-route="contact" tabindex="-1">
              <paper-material elevation="1">
                <h1 class="page-title" tabindex="-1">Contact</h1>
                <p>Email justjoolz at gmail dot com your feedback!</p>
              </paper-material>
            </section>
          </iron-pages>
        </div>
      </paper-scroll-header-panel>

    </paper-drawer-panel>

    <paper-toast id="toast">
      <span class="toast-hide-button" role="button" tabindex="0" onclick="app.$.toast.hide()">Ok</span>
    </paper-toast>

    <!-- Uncomment next block to enable Service Worker support (1/2) -->
    <!--
    <paper-toast id="caching-complete"
                 duration="6000"
                 text="Caching complete! This app will work offline.">
    </paper-toast>

    <platinum-sw-register auto-register
                          clients-claim
                          skip-waiting
                          base-uri="bower_components/platinum-sw/bootstrap"
                          on-service-worker-installed="displayInstalledToast">
      <platinum-sw-cache default-cache-strategy="fastest"
                         cache-config-file="cache-config.json">
      </platinum-sw-cache>
    </platinum-sw-register>
    -->

  </template>

  <!-- build:js scripts/app.js -->
  <script src="scripts/app.js"></script>
  <!-- endbuild-->

  </dom-module>
</body>

</html>
