<!--
  
  Displays readings as fetched from DB...

  At the moment data is returned a bit funny from the server 
  All the data for each object is in a .data object


  NOTE! Uses moment.js
-->



<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">

<dom-module id="iching-readings-view">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Previous Readings</h2>    

    <template is="dom-repeat" items="{{usersReadings}}" id="readings">
       <a href="/reading/[[item.id]]">[[item.question]]
       [[item]]
       </a>
    </template>

    <p>Needs to display date and time etc. before first release!</p>

  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'iching-readings-view',

      properties: {
        readings: {
          type: Array,
          notify: true
        },

        _timeSince: function (t) { console.log(t); return moment(t).fromNow(); }
      }
      
    });

  })();
  </script>
</dom-module>
