<!--
  Display a list of comments and and new comment box....
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="comment-box">
  <template>
    <style>
      :host {
        display: block;
      }

      paper-fab { position: relative; margin-left: 132px; }
    </style>

    <template is="dom-repeat" items="{{comments}}" as="item">
      <div id$="[[item.$key]]" on-tap="_commentTap">
        {{item.comment}}
        <paper-icon-button on-tap="_deleteComment" icon="delete" id="[[item.key]]"></paper-icon-button>
        <paper-icon-button on-tap="_editComment" icon="mode-edit" id$="[[item.$key]]"></paper-icon-button>
      </div>
    </template>         

    <paper-textarea label="Record your thoughts here:"
                    value="{{comment}}">
    </paper-textarea>

    <paper-fab icon="add" on-tap="_saveReading"></paper-fab>


  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'comment-box',

      properties: {
        reading: {
          type: String,
          notify: true
        },

        comment: {
          type: String,
          notify: true
        }
      },

      _saveReading: function(e) {
        if ( this.comment != '' ) {

          // build comment
          this._comment = { comment: this.comment,
                          created: firebase.database.ServerValue.TIMESTAMP
                        };
          
          console.log(this._comment);

          // 
          var db = document.querySelector("iching-db");
          var path = '/users/' + app.user.uid + '/readings/' + this.reading + '/comments';
          
          console.log("saving the comment returned a promise!: ", db.saveComment(this._comment, path));

          console.log(this.comment)
          this.comment="";
          console.log(this.comment);
        }
        return e.charCode;
      },

      _commentTap: function(e) {
        //console.log( 'you tapped', e.target);
        //console.log( this.id );
      },

      _editComment: function() {
        console.log( this.comments );
      },

      _deleteComment: function(event) {
        // delete from UI and see if firebase updates!
        
        var index = this.comments.indexOf(this.id);
        
        console.log(this.comments);
        console.log(index);
        

        this.splice('cinnebts', index, 1);

        console.log(this.comments);
        
      }

    });
  })();
  </script>
</dom-module>
