<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="iching-navigator">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    
    <paper-material elevation="1">
      <h1 class="page-title" tabindex="-1">Hexagrams</h1>

      <p class="subhead">Here are all the hexagrams!:</p>
      <paper-fab icon="add" on-tap="_tap"></paper-fab>
      <paper-fab icon="filter" on-tap="_filterByLines"></paper-fab>


      <template is="dom-repeat" items="[[hexagrams]]" id="hexagrams">
        <a href="/hexagram/[[item.id]]">
          <iching-hexagram-detail hexagram="[[item]]"></iching-hexagram-detail>
        </a>
      </template>
      
    </paper-material>
  
  </template>
  
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'iching-navigator',

      properties: {
        hexagrams: {
          type: Object,
          notify: true
        }
      },

      _tap: function(e) {
        console.log(this.sortedBy);
        if ( this.sortedBy != 'fuHsiBin') {
          // unsorted = kingweb
          // sort to fuHsi
          this.sortedBy = 'fuHsiBin';
          this.$.hexagrams.sort = function (a,b) {
            return( a.fuHsiBin - b.fuHsiBin  );
          }
        } else { 
          // already sorted by fuHsi
          // sort by kingwen ID.
          this.sortedBy = 'kingWen';
          this.$.hexagrams.sort = function( a,b ) {
            return (a.id - b.id);
          } 
        }
        console.log ( this.$.hexagrams );
        //console.log(e);
      },

      _filterByLines( e ) {
        console.log( this.filter );
        // this.lines = lines;
        console.log( this.lines );

        this.$.hexagrams.filter = function(hex) {
          return( hex.lines[1].type === 'yang' );
          // return hex[]
        }
      }

    });
  })();
  </script>
</dom-module>
